@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=Lato:wght@300&family=Raleway:wght@200;300;400;600;700;800&display=swap");
body {
  font-size: 18px;
  line-height: 1.5;
  background-color: #131313;
  color: white; }
  body *,
  body *:before,
  body *:after {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0; }
  body .section {
    padding: 50px;
    width: 100%;
    overflow: hidden;
    position: relative; }
    body .section .header {
      position: absolute;
      bottom: 200px; }
      body .section .header h1 {
        justify-content: center;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 12.5rem;
        line-height: 0.9; }
      body .section .header h2 {
        font-size: 3.5rem;
        font-weight: 100;
        padding-bottom: 25px; }
      body .section .header p {
        font-size: 1.5rem;
        width: 60%;
        line-height: 1.7; }
  body .animate-character {
    background-image: linear-gradient(-225deg, #00ff91 0%, #0098e4 29%, #ff1361 67%, #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite; }

@keyframes textclip {
  to {
    background-position: 200% center; } }
  body .revealUp {
    opacity: 0;
    visibility: hidden; }
  body .nav-list {
    font-family: 'Raleway', 'sans-serif';
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 50px; }
    body .nav-list li {
      padding-right: 50px;
      font-size: 1.5em; }
      body .nav-list li:last-child {
        padding-right: 0; }
  body h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 5.5rem;
    font-weight: 700; }
  body h3,
  body h4,
  body p,
  body li,
  body a {
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  body h4 {
    font-size: 5em;
    line-height: 1; }
  body a {
    text-decoration: none; }
    body a:hover {
      color: #333333;
      text-decoration: underline; }
  body #head,
  body #work,
  body #about {
    height: 100vh; }
  body #work .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    body #work .projects .project {
      width: 33%;
      height: auto; }
    body #work .projects .project-1 {
      color: #00ff91; }
    body #work .projects .project-2 {
      color: #ff1361; }
    body #work .projects .project-3 {
      color: #0098e4; }
  body #about p,
  body #about h4 {
    color: white; }
  body #about .bio {
    display: flex; }
    body #about .bio img {
      max-height: 750px;
      object-fit: cover; }
    body #about .bio p {
      padding: 50px; }
  body #contact {
    height: 50vh; }
    body #contact .linkedin a {
      font-weight: 600; }
  body #footer {
    display: flex;
    color: #fff;
    font-family: "Lato", sans-serif; }
