@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=Lato:wght@300&family=Raleway:wght@200;300;400;600;700;800&display=swap");
body {
  font-size: 16px;
  display: grid;
  place-items: center;
  background: #1a1a1a; }
  body #container {
    padding: 5rem; }
    body #container .nav-list {
      font-family: 'Raleway', 'sans-serif';
      display: flex;
      justify-content: flex-end;
      list-style: none; }
      body #container .nav-list li {
        padding-right: 50px; }
        body #container .nav-list li:last-child {
          padding-right: 0; }
    body #container #intro,
    body #container #gallery,
    body #container #about,
    body #container #contact {
      height: 100vh;
      padding: 50px;
      position: relative; }
    body #container .header {
      font-family: 'Raleway', sans-serif;
      font-weight: 800;
      font-size: 7rem;
      line-height: 0.85;
      margin-bottom: 0;
      --bg-size: 400%;
      --color-one: #25df00;
      --color-two: #6cfdc3;
      background: linear-gradient(45deg, var(--color-one), var(--color-two), var(--color-one)) 0 0/100% 100%;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      animation: move-bg 8s infinite linear; }

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0; } }
      @media (prefers-reduced-motion: no-preference) {
        body #container .header .header {
          animation: move-bg 8s linear infinite; }
        @keyframes move-bg {
          to {
            background-position: var(--bg-size) 0; } } }
    body #container .intro-content {
      max-width: 50%;
      position: absolute;
      bottom: 0; }
    body #container .page-header {
      font-size: 2rem;
      text-align: left; }
    body #container h2 {
      font-size: 2.5em;
      font-family: 'Raleway', sans-serif; }
    body #container h2,
    body #container p,
    body #container li,
    body #container a {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      color: #fff; }
    body #container a {
      text-decoration: none; }
      body #container a:hover {
        color: #6cfdc3;
        text-decoration: underline; }
  body #gallery .img-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px; }
  body #gallery .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  body #footer {
    display: flex;
    color: #fff;
    font-family: "Lato", sans-serif; }
