body {
  font-size: 16px;
  @import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Lato:wght@300&family=Raleway:wght@200;300;400;600;700;800&display=swap');
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: #1a1a1a;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: clamp(3rem, 25vmin, 12rem);
  line-height: 0.85;
  margin-bottom: 10px;
}

.header {
  --bg-size: 400%;
  --color-one: #25df00;
  --color-two: #6cfdc3;
  font-size: clamp(3rem, 25vmin, 8rem);
  background: linear-gradient(
    45deg,
    var(--color-one),
    var(--color-two),
    var(--color-one)) 0 0 / 100% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: move-bg 8s infinite linear;
}

h2 {
  font-size: 2.5em;
  font-family: 'Raleway', sans-serif;
}

h2,
p,
li,
a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #fff;
}

#container {
  padding: 75px;
}

.nav-list {
  font-family: 'Raleway', 'sans-serif';
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

li {
  padding-right: 50px;
}

a {
  text-decoration: none;
}

li:last-child {
  padding-right: 0;
}

.intro-content {
  max-width: 50%;
}

.img-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#intro,
#gallery,
#about,
#contact {
  height: 100vh;
}

a:hover {
  color: #6cfdc3;
  text-decoration: underline;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .header {
    animation: move-bg 8s linear infinite;
  }

  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
