body {
  font-size: 18px;
  line-height: 1.5;
  @import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Lato:wght@300&family=Raleway:wght@200;300;400;600;700;800&display=swap');
  background-color: #131313;
  color: white;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .section {
    // height: 100vh;
    padding: 50px;
    width: 100%;
    overflow: hidden;
    position: relative;

    .header {
      position: absolute;
      bottom: 200px;

      h1 {
        justify-content: center;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 12.5rem;
        line-height: 0.9;
      }

      h2 {
        font-size: 3.5rem;
        font-weight: 100;
        padding-bottom: 25px;
      }

      p {
        font-size: 1.5rem;
        width: 60%;
        line-height: 1.7;
      }
    }
  }

  .animate-character {
    background-image: linear-gradient(
      -225deg,
      #00ff91 0%,
      #0098e4 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  .revealUp {
    opacity: 0;
    visibility: hidden;
  }

  .nav-list {
    font-family: 'Raleway', 'sans-serif';
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 50px;

    li {
      padding-right: 50px;
      font-size: 1.5em;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 5.5rem;
    font-weight: 700;
  }

  h3,
  h4,
  p,
  li,
  a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  h4 {
    font-size: 5em;
    line-height: 1;
  }

  a {
    text-decoration: none;

    &:hover {
      color:#333333;
      text-decoration: underline;
    }
  }

  #head,
  #work,
  #about {
    height: 100vh;
  }

  #work {
    .projects {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .project {
        width: 33%;
        height: auto;
      }

      .project-1 {
        color: #00ff91;
      }

      .project-2 {
        color: #ff1361;
      }

      .project-3 {
        color: #0098e4;
      }
    }
  }

  #about {
    p,
    h4 {
      color: white;
    }

    .bio {
      display: flex;

      img {
        max-height: 750px;
        object-fit:cover;
      }

      p {
        padding: 50px;
      }
    }
  }

  #contact {
    height: 50vh;

    .linkedin {
      a {
        font-weight: 600;
      }
    }
  }

  #footer {
    display: flex;
    color: #fff;
    font-family: "Lato", sans-serif;
  }
}

