body {
  font-size: 18px;
  line-height: 1.5;
  @import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Lato:wght@300&family=Raleway:wght@200;300;400;600;700;800&display=swap');

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    position: relative;
  }

  .active {
    display: flex;
    flex-direction: column;

    .header {
      h1 {
        justify-content: center;
        align-items: center;
        margin: 0;
      }
    }
  }

  .section {
    height: 100vh;
    width: 100%;
    padding: 50px;
    overflow: hidden;

    h2 {
      font-size: 4em;
    }

    .header {
      h1 {
        justify-content: center;
        align-items: center;
        margin: 0;
      }
    }
  }

  .bg1,
  .bg2 {
    h2,
    h4,
    p {
      margin: 5px;
    }
  }

  .bg1 {
    background-color: #ccc;
  }

  .bg2 {
    background-color: #333;
  }

  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 5.5rem;
    line-height: 1.2;
  }

  .animate-character {
    background-image: linear-gradient(
      -225deg,
      #00ff91 0%,
      #0098e4 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  .revealUp {
    opacity: 0;
    visibility: hidden;
  }

  .nav-list {
    font-family: 'Raleway', 'sans-serif';
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 50px;

    li {
      padding-right: 50px;
      font-size: 1.5em;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.5rem;
  }

  h3,
  h4,
  p,
  li,
  a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  h4 {
    font-size: 2em;
  }

  a {
    text-decoration: none;

    &:hover {
      color:#333333;
      text-decoration: underline;
    }
  }

  .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .project {
      width: 33%;
      height: auto;
    }

    .project-1 {
      background-color: #00ff91;
      width: 100%;
      position: relative;

      &:before {
        content: "";
        background-color:#00ff91;
        position: absolute;
        height: 100%;
        width: 400px;
        left: -200px;
        z-index: -1;
      }
    }

    .project-2 {
      background-color: #0098e4;
      width: 100%;
    }

    .project-3 {
      background-color: #ff1361;
      width: 100%;

      &:before {
        content: "";
        background-color:#ff1361;
        position: absolute;
        height: 100%;
        width: 400px;
        right: -200px;
        z-index: -1;
      }
    }
  }

  .img-gallery {
    display: flex;

    .gallery__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  #about {
    p,
    h4 {
      color: white;
    }

    .bio {
      display: flex;

      img {
        max-height: 750px;
        object-fit:cover;
      }

      p {
        padding: 50px;
      }
    }
  }

  #contact {
    height: 50vh;

    .linkedin {
      a {
        font-weight: 600;
      }
    }
  }

  #footer {
    display: flex;
    color: #fff;
    font-family: "Lato", sans-serif;
  }
}

